<!-- todos.component.html -->
<main>
  <button (click)="createTodo()">+ new</button>
  <div>
    <ul>
      <li
        *ngFor="let todo of todos"
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <input type="checkbox" />
        <span *ngIf="todo.content">{{ todo.content }}</span>
        <span *ngIf="!todo.content">Unnamed Todo</span>
        <button
          (click)="deleteToDo(todo.id)"
          style="background: none; border: none; cursor: pointer"
        >
          <img
            src="assets/recycle-bin.png"
            alt="Delete"
            style="width: 16px; height: 16px"
          />
        </button>
      </li>
    </ul>
  </div>
</main>